/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
#jeopardy {
  text-align: center;
  font-size: 10pt;
  background-color: #060ce9;
  color: white;
}

#jeopardy th {
  border: solid 1px white;
  width: 13em;
  padding: 1em;
}

#jeopardy td {
  border: solid 1px white;
  width: 13em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  height: 4em;
}
